*{
    margin: 0;
    padding: 0;
    font-family: 'roboto',sans-serif;
    box-sizing: border-box;
    color: #fff;
}
.container{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.container img:hover{
    border: 1px solid grey;
}
.container img {
    width: 570px;
    border-radius: 50%;
    height: 710px;
    position: absolute;
    left: 18%;
    top: 18%;
    cursor: pointer;
}
.contents{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 18vh;


}
.contents h2{
    font-size: 25px;
    letter-spacing: 3px;

}
.contents ul li{
    display: inline-block;
    list-style: none;
    padding: 0 30px;
    margin-left: 20px;
    font-weight: bold;


}
.contents ul li a{
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 5px;
    transition: 0.6s;
    font-weight: bold;



}
.contents ul li a:hover{
    margin-top:-10px;
    color: olivedrab;
    text-decoration: underline;



}
.contents h2:hover{
    margin-top:-10px;
    color: olivedrab;
    overflow: hidden;
    cursor: pointer;

}
.main{
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);

}

h1:hover{
    color: green;
    cursor: pointer;
}
h1{

    font-size: 100px;
    letter-spacing: 20px;
    font-weight: bold;
}
h3:hover{
    color: green;
    cursor: pointer;
}
h3{
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom:7px ;

}
p:hover{
    color: green;
    cursor: pointer;
}
p{
    font-size: 30px;
    letter-spacing: 20px;

}
.social-icons{
    display: grid;;
    width: 80px;
    position: fixed;
    font-size: 22px;
    letter-spacing: 20px;
    margin: 0 10px 0 0;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.social-icons i:hover{
 color: grey;
    margin-left: 10px;
}
.social-icons i{
    margin: 15px 23px;
    color: green;
    cursor: pointer;



}
.about-myself{

}
h8{
    text-align: justify;
    position: absolute;
    max-width: 686px;
    align-items: center;
    top: 68%;
    left: 43%;



}
h8:hover{
    color: olivedrab;
    box-shadow:0 0 0.5px 0 white;
    cursor: pointer;
}